/* Importamos las variables */
@import url("Variables.css");
/* Font Kontumruy  */
@import url(https://db.onlinewebfonts.com/c/a6568fd9c484ff7ccb51f126480c8032?family=Kantumruy+Regular);
/*Font DM Serif Display  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');




/* Estilos generales */


* {
    background-color: var(--color-fondo);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
.header-nav,
.main,
.nav-inferior {
    background-color: var(--color-fondo);
    margin: 0 auto;
}



/* ----------------------- */





/* header*/

header {
    background-color: var(--color-fondo);
    margin-bottom: 2rem;
}


.header-nav {

    max-width: 1200px;
    width: 100%;
    height: 8.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

}

.header {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.329);
    margin-bottom: 2rem;
}

/* Navbar Superior */


.nav-superior ul li {
    display: inline-block;
    position: relative;
}
.nav-superior ul li button {
    padding: 0.7rem;
}



/* menu user */

.nav-superior ul li ul.menu-desplegable {
    display: none;
    position: absolute;
    width: 10rem;
    z-index: 999;
    right: 0;
    bottom: -6.6rem;
    background-color: var(--color-fondo);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
}

.menu-desplegable li a {
    background-color: var(--color-fondo);
    display: block;
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: black;
    font-size: 1.2rem;
    width: 100%;
    height: 2rem;
}


.titles {
    font-family: var(--font-DM-Serif-Display);
}



/* Main*/


.main-login-register,
.main {
    max-width: 1200px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    font-family: var(--font-Kontumruy);
}


.main-login-register>p {
    text-align: center;
    font-size: 0.9rem;
}

.main-login-register :nth-child(2) {
    padding: 2rem;
}


.main-login-register p:last-child {
    color: #ADADAD;
    border-bottom: 1px solid #ADADAD;
    line-height: 0.1rem;
    width: 65vw;
    margin: 0 auto;

}

.main-login-register p:last-child span {
    background-color: white;
    padding: 0.5rem;
    text-align: center;
}

/* Formulario Login - Register*/


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

.form-login-register input {
    border: none;
    outline: none;
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-adadad);
}


.form-login-register input:last-child {
    margin: 0 auto;
    border: none;
    width: 65vw;
    height: 6vh;
    border-radius: 2rem;
    color: white;
    background-color: var(--color-botton-form);
}

.form-login-register a {
    text-decoration: none;
    color: #ADADAD;
    text-align: right;
    padding: 1rem 0;
}

/* Nav inferior fijado */
.nav-inferior {
    max-width: 1200px;
    position: fixed;
    bottom: 0;
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.315);

    width: 100%;
    height: 7.5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-inferior a:nth-child(1),
.nav-inferior a:nth-child(2) {
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.nav-inferior a:nth-child(3),
.nav-inferior button:nth-child(4),
.header button {
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

/* ------------------INDEX-HOME------------------ */
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-DM-Serif-Display);
    padding-bottom: 10vh;
}

.img-libro {
    position: relative;
}

.img-libro img {
    position: relative;
    width: 22rem;
    height: 16rem;
    border-radius: 0.5rem;
}

.detalle-libro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Aquí ajustas el ancho de la superposición */
    height: 25%;
    backdrop-filter: blur(10px);
    /* Aquí puedes ajustar el nivel de desenfoque */
}

.detalle-libro p {
    display: inline-block;
    color: white;
    font-size: 1rem;

}

.descripcion-libro p:nth-child(3) {
    font-family: var(--font-DM-Serif-Display);
}

/*  */
.main-home>h2 {
    padding: 1rem 0;
    align-self: flex-start;
    padding-left: 11%;
    font-size: 1.5rem;

}


/*  */
.libro {
    display: flex;
    align-items: center;
    width: 80%;
}

.libro img {
    padding: 0.6rem;
    float: left;
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
}

.libro p:nth-child(2) {
    font-family: var(--font-Kontumruy);
    font-size: 0.8rem;
}

.libro i {
    color: #BFA054;
}

.descripcion-libro {

    display: flex;
    flex-direction: column;
    justify-content: center;
}










/* MEDIA QUERYS */



/* celulares hasta 600px */
@media screen and (max-width: 600px) {
    .boton-usuario-desktop{
        display: none;
    }

}





/* Tablet desde 600px */
@media screen and (min-width: 601px) {
    .boton-usuario-desktop {
        display: none;
    }

}






/* Laptops/Desktop desde 992px*/
@media screen and (min-width: 992px) {

    .boton-usuario-desktop {
        display: block;
    }

    .nav-inferior {
        display: none;
    }

}