/* Variables */
:root {
    --color-botton-form: #BFA054;
    --font-Kontumruy: "Kantumruy Regular", sans-serif;
    --font-DM-Serif-Display: "DM Serif Display", serif;
    --color-adadad: #ADADAD;
    --color-fondo: #FBF8F2;
}
