/* Importamos las variables */
@import url("Variables.css");
/* Font Kontumruy  */
@import url(https://db.onlinewebfonts.com/c/a6568fd9c484ff7ccb51f126480c8032?family=Kantumruy+Regular);
/*Font DM Serif Display  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');




/* Estilos generales */


* {
    background-color: var(--color-fondo);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body,
.header-nav,
.main,
.contenedor-forms,
.nav-inferior {
    background-color: var(--color-fondo);
    margin: 0 auto;
}

.contenedor-forms{
    /* Padding para que no queden las cosas debajo del nav inferior */
    padding-bottom: 7.5vh;
}


/* ----------------------- */





/* header*/

header {
    background-color: var(--color-fondo);
    margin-bottom: 2rem;
}


.header-nav {

    max-width: 1200px;
    width: 100%;
    height: 8.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}

.header {
    /* sombra de header */
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.329);
    /* Marigin debajo del navbar para que se vea la sombra */
    margin-bottom: 0.5rem;
}
.titulo{
    display: flex;
    text-decoration: none;
}
.titulo h3:first-child{
    color: black;
}
.titulo h3:last-child{
    color: var(--color-botones-detalles);
}


/* Navbar Superior */

.nav-inferior ul li,
.nav-superior ul li {
    display: inline-block;
    position: relative;

}

.nav-superior ul li button {
    font-size: 1.2rem;
    padding: 0.5rem 0.4rem;
}



/* menu user */
.nav-inferior ul.menu-desplegable,
.nav-superior ul li ul.menu-desplegable {
    display: none;
    position: absolute;
    width: 10rem;
    z-index: 999;
    right: 0;
    background-color: var(--color-fondo);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .15);
}

.menu-desplegable li a {
    background-color: var(--color-fondo);
    font-family: var(--font-Kontumruy);
    display: block;
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: black;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

.menu-desplegable li:hover a {
    background-color: var(--color-botones-detalles);
}



.titles {
    font-family: var(--font-DM-Serif-Display);
}






/* Formularios*/


.contenedor-forms,
.main {
    max-width: 1200px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-Kontumruy);
}


.contenedor-forms>p {
    text-align: center;
    font-size: 0.8rem;
}

.contenedor-forms p:first-of-type  {
    padding: 1rem;
}


.contenedor-forms p:last-child {
    color: #ADADAD;
    border-bottom: 1px solid #ADADAD;
    line-height: 0.1rem;
    width: 50vw;
    margin: 0 auto;

}

.contenedor-forms p:last-child span {
    padding: 0.5rem;
    text-align: center;
}

/* Formulario Login - Register*/


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

form label {
    padding: 0.9rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.form-login-register input {
    border: none;
    outline: none;
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-adadad);
}
.iconos-redes-login{
    text-align: center;

}

.iconos-redes-login a:nth-child(1) img{
    width: 1.5rem;
    border-radius: 50%;
}
.iconos-redes-login a:nth-child(2) img{
    width: 1.8rem;
    border-radius: 50%;
}

.form-login-register input:last-child {
    margin: 0 auto;
    border: none;
    width: 70%;
    height: 6vh;
    border-radius: 2rem;
    color: white;
    background-color: var(--color-botones-detalles);
}

.form-login-register a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #ADADAD;
    text-align: right;
    padding: 1rem 0;
}



/*HTML de contacto*/


.form-contacto h2 {
    text-align: center;
    color: #BFA054;
}

.form-contacto textarea {
width: 60%;
height: 5rem;
margin-right: 1rem;
}

.form-contacto img {
    width: 4rem;
    
}
/*  */
.contenedor-textarea-img-contacto{
    display: flex;
    align-items: center;
}


.form-contacto select {
    width: 11rem;
}

.form-contacto  p input[type="checkbox"] {
    width: 0.8rem;
    height: 0.7rem;
}
.form-contacto p {
    font-size: 0.8rem;
}

.form-contacto p:first-of-type  {
    padding: 1rem 0;
}



/* Navbar inferior fijado */



.nav-inferior {
    max-width: 1200px;
    position: fixed;
    bottom: 0;
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* estilos de iconos inferiores que sean hijos directos 1 y2 */

.nav-inferior>a:nth-child(1),
.nav-inferior>a:nth-child(2) {
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.nav-inferior>a:nth-child(3),
.nav-inferior button:nth-child(4),
.header button {
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

/* ------------------INDEX-HOME------------------ */
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-DM-Serif-Display);
    padding-bottom: 10vh;
}

.img-libro {
    position: relative;
}

.img-libro img {
    position: relative;
    width: 22rem;
    height: 16rem;
    border-radius: 0.5rem;
}

.detalle-libro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Aquí ajustas el ancho de la superposición */
    height: 25%;
    backdrop-filter: blur(10px);
    /* Aquí puedes ajustar el nivel de desenfoque */
}

.detalle-libro p {
    display: inline-block;
    color: white;
    font-size: 1rem;

}

.descripcion-libro p:nth-child(3) {
    font-family: var(--font-DM-Serif-Display);
}

/*  */
.main-home>h2 {
    padding: 1rem 0;
    align-self: flex-start;
    padding-left: 11%;
    font-size: 1.5rem;

}


/*  */
.libro {
    display: flex;
    align-items: center;
    width: 80%;
}

.libro img {
    padding: 0.6rem;
    float: left;
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
}

.libro p:nth-child(2) {
    font-family: var(--font-Kontumruy);
    font-size: 0.8rem;
}

.libro i {
    color: #BFA054;
}

.descripcion-libro {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Footer */
.footer{
    text-align: center;
    height: 4vh;
}







/* MEDIA QUERYS */



/* celulares hasta 600px */
@media screen and (max-width: 600px) {

    /* Quitamos el boton de usuario del navbar superior */
    .boton-usuario-desktop {
        display: none;
    }

    /* El menu se desplaza hacia arriba */
    .menu-desplegable {
        bottom: 100%;
    }

    /* Cambiamos el tamaño de la fuente del navbar inferior */
    .nav-inferior ul li a {
        font-size: 1rem;
    }
     /* Footer */
     .footer{
        display: none;
     }
}





/* Tablet desde 600px hasta 991px */
@media screen and (min-width: 601px) and (max-width: 991px) {

    .boton-usuario-desktop {
        display: none;
    }

    .menu-desplegable {
        bottom: 100%;
    }
  

    .form-login-register input:last-child {
        width: 50%;
    }

    /* Footer */
    .footer{
        display: none;
     }


}






/* Laptops/Desktop desde 992px*/
@media screen and (min-width: 992px) {
    /* padding para menu desplegable */
    .nav-superior ul li ul.menu-desplegable {
        padding-top: 1rem;
    }

    /* muestro el boton de usuario */
    .boton-usuario-desktop {
        display: block;
    }

    /* Saco el nav inferior */
    .nav-inferior {
        display: none;
    }



    /*formularios  */
    .contenedor-forms {
        padding-bottom: 10vh;
    }

    .form-login-register {
        width: 40vw;
    }
    /*cambio el porcentaje que ocupa el boton  */
    .form-login-register input:last-child {
        width: 50%;
    }
    .contenedor-forms p:last-child{
    width: 30vw;
    }




}